
.state{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin: 60px;
}
.add__button{
    display: flex;
    align-items: center;
    border: 2px solid green;
    border-radius: 50%;
    border-style: dotted;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size:x-large;
    color: green;
}

.add__button>p{
    margin: 0 auto;
}

.state__add{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgba(76,174,101,1);
    border-radius: 10px;
    height: 150px;
    width: 300px;
    margin: 20px;
}

.state__form{
    display: flex;
    flex-direction: column;
}

.state__form>*{
    margin: 10px;
}

.state__form>button{
    background-color: rgba(76,174,101,1);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.state__form>input {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid black;
}